<?xml version="1.0" encoding="utf-8" ?>
<configuration>
     <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
         <dependentAssembly>
            <assemblyIdentity name="ScriptHookVDotNet"  culture="neutral"/>
            <codeBase version="2.9.2.0" href="FILE://ScriptHookVDotNet2.dll"/>
         </dependentAssembly>
      </assemblyBinding>
   </runtime>
</configuration>